*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}
/*Inicio container*/
#container{
    margin: 0 auto;
    width: 750px;
}
/*Inicio header e nav*/
#header{
    height: 150px;
    padding: 25px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}
#nav{
    width: 545px;
    height: 40px;
    background: #b10333;
    position: relative;
    top: 30px;
}
#nav a{
    background: url(../img/divisor.png) repeat-y left;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
    padding: 10px 14px;
}
#nav a:hover{
    color: #69001d;
    background: #de003e;
}
#nav ul li{
    float: left;
}
ul{
    margin: 0;
    padding: 0;
}
/*Marcando página*/
.home #nav ul li a#home{
    color: #fff;
    background: #de003e;
}
/*Iniciando a aside e section´s*/
#content{
    margin-top: 60px;
    background: #f5f5f5;
}
#aside{
    width: 180px;
    float: left;
    margin: 0 15px 20px -750px;
}
#section-one{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}
#duas-col #section-one{
    width: 555px;
}
#uma-col #section-one{
    width: 750px;
    margin: 0 0 20px 15px;
}
#section-two{
    width: 270px;
    float: left;
    margin: 0px 0px 20px 11px;
}
/*Formantando caixa de conteudo da aside e section*/
.caixa{
    margin: 10px 0;
    padding: 10px;
    background: url(../img/fundo-caixa.png);
}
.content{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
/*Formatando links da aside*/ 
ul.aside-menu a{
    border-bottom: 1px dotted #ccc;
    display: block;
    padding: 15px 0;
    text-indent: 10px;
    color: #000;
    text-decoration: none;
}
ul.aside-menu a:hover{
    text-indent: 30px;
    background: url(../img/marcador.png) no-repeat left center;
}
/*Formatação dos titulos das caixas "h2"*/
h2{
    background: #294c71;
    font-size: 1.2em;
    color: #fff;
    text-indent: 0.5em;
    margin: 10px;
}
/*Formatação dos campos input e submit da news*/
input[type=text]{
    cursor: pointer;
    width: 92%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}
input[type=submit]{
    cursor: pointer;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #b10333;
    color: #fff;
    border: none;
}
/*Formatação IMG Principal das sections*/
img.principal{
    width: 98%;
    border: 2px solid #dfdfdf;
}
/*Formatação do conteúdo da section 1 e 2*/
section h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    color: #fff;
    background: #b10333;
}
section a{
    color: #b10333;
}
/*Formatação h3 da section 2*/
.entrevista h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    color: #000;
    background: #b10333;
}
/*Iniciando o footer*/
footer{
    clear: both;
    background: #294c71;
    padding: 20px;
    text-align: center;
}